<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shimo.vip.dao.VipCategoryDao">
	<resultMap type="VipCategory" id="CategoryResultMap">
		<id property="id" column="ID" javaType="java.lang.Long" jdbcType="BIGINT"/>
		<result property="categoryId" column="CATEGORY_ID" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="list" resultMap="CategoryResultMap">
		select p.* from category p
	</select>
	<select id="getCategoryById" resultMap="CategoryResultMap">
		select * from category p where
		<if test="categoryID != null">
			p.category_id=#{categoryID}
		</if>
	</select>
	<select id="getCategoryByName" resultMap="CategoryResultMap">
		select * from category p where p.name=#{name}
	</select>
	<insert id="addCategory"  parameterType="Category" useGeneratedKeys="true" keyColumn="ID" keyProperty="id">
		insert into category 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="categoryID != null">
				`category_id`,
			</if>
			<if test="name != null">
				`name`,
			</if>
		</trim>
		<trim prefix="values(" suffix=")" suffixOverrides=",">
			<if test="categoryID != null">
				#{categoryID},
			</if>
			<if test="name != null">
				#{name},
			</if>
		</trim>
	</insert>
</mapper>