<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shimo.vip.dao.VipUsersDao">

    <resultMap id="vipUserResultMap" type="VipUsers">
        <id property="id" column="id" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="account" column="ACCOUNT" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="gmtCreate" column="GMT_CREATE" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="gmtModify" column="GMT_MODIFY" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="lastLoginIp" column="LAST_LOGIN_IP" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="loginNum" column="LOGIN_NUM" javaType="java.lang.Long" jdbcType="BIGINT"/>
        <result property="lastLoginTime" column="LAST_LOGIN_TIME" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="name" column="NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="password" column="PASSWORD" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="status" column="STATUS" javaType="java.lang.Long" jdbcType="BIGINT"/>
    </resultMap>



    <update id="updateById">
        update vip_users
        <set>
            <trim suffixOverrides=",">
                <if test="account != null ">
                    ACCOUNT=#{account},
                </if>
                <if test="password != null">
                    PASSWORD=#{password},
                </if>
                <if test="name != null">
                    NAME=#{name},
                </if>
                <if test="status != null">
                    STATUS=#{status},
                </if>
                <if test="lastLoginIp != null">
                    LAST_LOGIN_IP=#{lastLoginIp},
                </if>
                <if test="lastLoginTime != null">
                    LAST_LOGIN_TIME=#{lastLoginTime},
                </if>
                <if test="loginNum != null">
                    LOGIN_NUM=#{loginNum},
                </if>
                <if test="gmtCreate != null">
                    GMT_CREATE=#{gmtCreate},
                </if>
                <if test="gmtModify != null">
                    GMT_MODIFY=#{gmtModify},
                </if>
            </trim>

        </set>
        WHERE ID=#{id}
    </update>
    <delete id="deleteById">
      DELETE FROM vip_users
      WHERE ID=#{id}
    </delete>


    <select id="getUserByName" resultMap="vipUserResultMap">
        SELECT p.* from vip_users p where p.NAME=#{name}
    </select>


    <select id="list" resultType="VipUsers">
      SELECT P.* FROM vip_users P
    </select>
    <select id="countUser" resultType="java.lang.Integer">
        select count(*) from vip_users
    </select>
    <select id="countUserByQuery" resultType="java.lang.Integer"  parameterType="com.shimo.vip.query.VipUsersPageQuery">
        SELECT count(*) FROM vip_users
        <where>
            <if test="account != null and account != ''">
                and ACCOUNT like CONCAT('%',#{account},'%' )
            </if>
            <if test="name != null and name != ''">
                and NAME like CONCAT('%',#{name},'%' )
            </if>
            <if test="status != null">
                and STATUS = #{status}
            </if>
            <if test="gmtCreateStart != null ">
                and #{gmtCreateStart} <![CDATA[<=]]> GMT_CREATE
            </if>
            <if test="gmtCreateEnd != null ">
                and #{gmtCreateEnd} <![CDATA[>=]]> GMT_CREATE
            </if>
            <if test="gmtModifyStart != null ">
                and #{gmtModifyStart} <![CDATA[<=]]> GMT_MODIFY
            </if>
            <if test="gmtModifyEnd != null ">
                and #{gmtModifyEnd} <![CDATA[>=]]> GMT_MODIFY
            </if>
        </where>
    </select>
    <select id="listByQuery" resultMap="vipUserResultMap" parameterType="com.shimo.vip.query.VipUsersPageQuery">
        SELECT * FROM vip_users
        <where>
            <if test="account != null  and account != ''">
                and ACCOUNT like CONCAT('%',#{account},'%' )
            </if>
            <if test="name != null and name != ''">
                and NAME like CONCAT('%',#{name},'%' )
            </if>
            <if test="status != null ">
                and STATUS = #{status}
            </if>
            <if test="gmtCreateStart != null ">
                and #{gmtCreateStart} <![CDATA[<=]]> GMT_CREATE
            </if>
            <if test="gmtCreateEnd != null ">
                and #{gmtCreateEnd} <![CDATA[>=]]> GMT_CREATE
            </if>
            <if test="gmtModifyStart != null ">
                and #{gmtModifyStart} <![CDATA[<=]]> GMT_MODIFY
            </if>
            <if test="gmtModifyEnd != null ">
                and #{gmtModifyEnd} <![CDATA[>=]]> GMT_MODIFY
            </if>
        </where>
        order by GMT_CREATE desc
        <if test="start!=null and end!=null">
            limit #{start},#{end}
        </if>
    </select>


    <insert id="add" parameterType="VipUsers" useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        insert into vip_users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                `ID`,
            </if>
            <if test="account != null">
                `ACCOUNT`,
            </if>
            <if test="password != null">
                `PASSWORD`,
            </if>
            <if test="name != null">
                `NAME`,
            </if>
            <if test="status != null">
                `STATUS`,
            </if>
            <if test="lastLoginIp != null">
                `LAST_LOGIN_IP`,
            </if>
            <if test="lastLoginTime != null">
                `LAST_LOGIN_TIME`,
            </if>
            <if test="loginNum != null">
                `LOGIN_NUM`,
            </if>
            <if test="gmtCreate != null">
                `GMT_CREATE`,
            </if>
            <if test="gmtModify != null">
                `GMT_MODIFY`,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="account != null">
                #{account},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="status != null">
                #{status},
            </if>
            <if test="lastLoginIp != null">
                #{lastLoginIp},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime},
            </if>
            <if test="loginNum != null">
                #{loginNum},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate},
            </if>
            <if test="gmtModify != null">
                #{gmtModify},
            </if>
        </trim>
    </insert>
</mapper>